.Navbar {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  &__list {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s all;
  }
  .history {
    margin-left: 150px;
  }
  .news {
    margin-left: -20px;
  }
  .about {
    margin-left: -20px;
  }
  .contact {
    margin-left: 200px;
  }
  .brands {
    margin-left: 100px;
  }
  &__src {
    letter-spacing: -4px;
    text-decoration: none;
    font-size: 127px;
    transition: 1s all;
    font-weight: 400;
    span {
      letter-spacing: -2px;
      font-size: 20px;
      margin: 10px;
    }
    &:hover {
      color: #af8260;
    }
  }
  &__logo {
    a {
      text-decoration: none;
      letter-spacing: 6px;
      position: relative;
      z-index: 2000;
      h2 {
        text-align: center;
        z-index: 2000;
      }
    }
  }
}

.Drawer__logo {
  z-index: 9999;
  color: #fff;
  align-items: center;
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 1%;
  top: 30%;
}

:root {
  .MuiPaper-root {
    border: none;
  }
  .MuiListItem-root {
    height: 110px;
  }
  @keyframes slideLeft {
    from {
      transform: translateX(-400px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .Drawer__logo {
    top: 20%;
  }
  .Navbar {
    &__logo {
      h2 {
        font-size: 16px;
      }
    }
    &__src {
      font-size: 106px;
    }
  }
  :root {
    .MuiPaper-root {
      border: none;
    }
    .MuiListItem-root {
      height: 90px;
    }
  }
}
