:root {
  --text-color-main: #fff;
  --text-secondary-color: #3b3b3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  max-width: 1920px;
  min-height: 100vh;
}

h1,
a,
h2 {
  color: var(--text-color-main);
}
